<!DOCTYPE html>
{% load static %} {# 탬플릿 태그로 정적파일을 메모리로 불러들인다 #}
<html lang="en">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Hi+Melody|Nanum+Brush+Script&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <title>블로그 글 목록</title>
</head>
<body>
    <div class="page-header">
        <h1><a href="">장고 걸즈 블로그</a></h1>
    </div>
    {% comment %}
    {{ posts }} <br/><br/>
    {# 아래 루프 처리 부분이 장고 탬플릿 태그 #}
    {% for post in posts %}
    <div class="post">
        {{ post }} <br/>
        {% endfor %}
        {% endcomment %}
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>게시일시: {{ post.published_date }}</p>
                    <p>{{ post.textlinebreaks }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>