<html>
    <head>
        <title>장고걸스 블로그</title>
    </head>
    <body>
        <div>
            <h1><a href="">장고걸스 블로그</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>게시일시: 14.06.2014, 12:14</p>
            <p>어쩌구 저쩌구... Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>게시일시: 14.06.2014, 12:14</p>
            <p>중얼중얼... Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>